PORT=8080
SOCIAL_GATEWAY_TOKEN=
SOCIAL_META_CLIENT_ID=
SOCIAL_META_CLIENT_SECRET=
SOCIAL_TIKTOK_CLIENT_KEY=
SOCIAL_TIKTOK_CLIENT_SECRET=
SOCIAL_GOOGLE_CLIENT_ID=
SOCIAL_GOOGLE_CLIENT_SECRET=
SOCIAL_LINKEDIN_CLIENT_ID=
SOCIAL_LINKEDIN_CLIENT_SECRET=
SOCIAL_LINKEDIN_API_VERSION=
SOCIAL_PINTEREST_CLIENT_ID=
SOCIAL_PINTEREST_CLIENT_SECRET=
SOCIAL_X_CLIENT_ID=
SOCIAL_X_CLIENT_SECRET=
